# AttendX Server Environment Variables Template
PORT=5000
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[PROJECT_ID].supabase.co:5432/postgres?sslmode=no-verify"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[PROJECT_ID].supabase.co:5432/postgres?sslmode=no-verify"
JWT_SECRET="your-secure-jwt-secret-min-32-chars"
